body {
    margin: 0px;
    font-family: Arial, SansSerif;
}

header {
    width: 100%;
    height: 3em;
    background-color: lightsteelblue;
}

logo {
    display: block;
}

.logo {
    margin: 0px;
}

pageContainer {
    margin: 30px;
}

scheduleContainer {
    float: left;
    width: 45%;
    background-color: lightcyan;
    border: lightgray thin solid;
    border-radius: 3px;
    margin: 10px;
    padding: 15px;
}

orders {
    float: right;
    width: 45%;
    background-color: lightgoldenrodyellow;
    border: lightgray thin solid;
    border-radius: 3px;
    margin: 10px;
    padding: 15px;
}

friday {
    display: block;
    background-color: lightblue;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
}

.order {
    margin: 5px;
    border-radius: 3px;
    list-style: none;
}
