@import LunchManCore.FridayLunch

@(message: String, lunches: List[FridayLunch])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(message) {
    <h1>@message</h1>
    @for((lunch, index) <- lunches.zipWithIndex) {
        @lunch.getDate()
        <h2>@lunch.getApprentice().get().getName()</h2>
        <form METHOD="post" action="/changeapprentice">
            <input type="hidden" placeholder="Week Num." value="@index" name="position"/>
            <input type="text" placeholder="New Apprentice Name" name="newName"/>
            <input type="submit"/>
        </form>
        <br>
    }
}
